server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/bank_transaction_system
    username: sergey
    password: cthsq30896
  jpa:
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
    drop-first: false